* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.nav {
  display: flex;
  justify-content: flex-end; }

.main {
  display: flex;
  flex-direction: column; }

.photo {
  display: flex;
  justify-content: center; }

.description {
  display: flex;
  flex-direction: column; }

.footer {
  display: flex; }

.nav {
  padding: 2rem 5rem 0 0; }
  .nav__item {
    text-decoration: none;
    padding-right: 3.5rem;
    color: black;
    font-size: 2.75vh; }

.main {
  padding-top: 9rem;
  padding-bottom: 16rem; }
  .main__big {
    margin-left: 19rem;
    line-height: 16vh; }
    .main__big-text {
      font-size: 15.2vh;
      font-weight: 1000; }
  .main__small {
    margin-left: 53rem;
    line-height: 9vh;
    padding-top: 4.2vh; }
    .main__small-text {
      font-size: 7vh;
      font-weight: 1000; }

.photo {
  width: 100vw; }
  .photo__img {
    margin: 0 auto;
    border-radius: 40px;
    width: 90%; }

.description {
  padding: 20vh 0 9vh 0; }
  .description__p {
    font-size: 4vh;
    width: 47%;
    margin-left: 32vw;
    margin-bottom: 9vh;
    line-height: 6.8vh; }
  .description__p-bold {
    font-size: 7vh;
    font-weight: 1000;
    width: 38%;
    margin-left: 33vw;
    margin-bottom: 5.5vh;
    line-height: 9vh; }

.skills {
  padding-bottom: 22vh; }
  .skills__text {
    font-size: 15vh;
    font-weight: 1000;
    width: 60%;
    line-height: 18vh;
    margin-left: 18rem; }

.boxes__row {
  display: flex;
  padding-bottom: 3.6vh;
  height: 58vh; }
  .boxes__row-box1 {
    background-color: #8ad8c0;
    width: 25%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 4.5vh 2.75vw;
    margin: 0 auto 0 8vw; }
  .boxes__row-box2 {
    background-color: #c6f459;
    width: 49%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 8vw 0 auto; }
  .boxes__row-box3 {
    background-color: #f39a8e;
    width: 36%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 auto 0 8.4vw; }
  .boxes__row-box4 {
    background-color: #85cbda;
    width: 38%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 8vw 0 auto; }
  .boxes__row-box5 {
    background-color: #9cb7eb;
    width: 43%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 auto 0 10vw; }
  .boxes__row-box6 {
    background-color: #b295ce;
    width: 29%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 10vw 0 auto; }

.cta {
  padding: 20vh 0 15vh 0; }
  .cta__p {
    font-size: 4vh;
    width: 47%;
    margin-left: 32vw;
    margin-bottom: 7vh;
    line-height: 6.6vh; }
  .cta__signature {
    font-size: 4vh;
    width: 47%;
    margin-left: 32vw;
    margin-bottom: 9vh;
    line-height: 6.8vh; }

.footer {
  padding: 1.8vh 5.6vw 5.6vh 3.6vw; }
  .footer__name {
    color: black;
    font-size: 2.75vh;
    margin: 0 auto 0 0; }
  .footer__list-item {
    margin-left: 2vw;
    text-decoration: none;
    color: black;
    font-size: 2.75vh; }
