* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.nav {
  display: flex;
  justify-content: flex-end; }

.main {
  display: flex;
  flex-direction: column; }

.photo {
  display: flex;
  justify-content: center; }

.description {
  display: flex;
  flex-direction: column; }

.footer {
  display: flex; }

.nav {
  padding: 2rem 5rem 0 0; }
  .nav__item {
    text-decoration: none;
    padding-right: 3.5rem;
    color: black;
    font-size: 2.75vh; }

.main {
  padding-top: 9rem;
  padding-bottom: 16rem; }
  @media only screen and (max-width: 900px) {
    .main {
      padding-bottom: 10rem; } }
  .main__big {
    margin-left: 19rem;
    line-height: 16vh; }
    @media only screen and (max-width: 900px) {
      .main__big {
        margin-left: 15rem; } }
    @media only screen and (max-width: 650px) {
      .main__big {
        margin-left: 5rem;
        line-height: 14vh; } }
    .main__big-text {
      font-size: 15.2vh;
      font-weight: 1000; }
      @media only screen and (max-width: 900px) {
        .main__big-text {
          font-size: 13vh; } }
      @media only screen and (max-width: 650px) {
        .main__big-text {
          font-size: 11vh; } }
  .main__small {
    margin-left: 53rem;
    line-height: 9vh;
    padding-top: 4.2vh; }
    @media only screen and (max-width: 900px) {
      .main__small {
        margin-left: 35rem; } }
    @media only screen and (max-width: 650px) {
      .main__small {
        margin-left: 15rem;
        line-height: 8vh; } }
    .main__small-text {
      font-size: 7vh;
      font-weight: 1000; }
      @media only screen and (max-width: 900px) {
        .main__small-text {
          font-size: 6vh; } }
      @media only screen and (max-width: 650px) {
        .main__small-text {
          font-size: 5vh; } }

.photo {
  width: 100%; }
  .photo__img {
    margin: 0 auto;
    border-radius: 40px;
    width: 90%; }
    @media only screen and (max-width: 900px) {
      .photo__img {
        border-radius: 0;
        width: 100%; } }

.description {
  padding: 20vh 0 9vh 0; }
  .description__p {
    font-size: 4vh;
    width: 47%;
    margin-left: 35vw;
    margin-bottom: 9vh;
    line-height: 6.8vh; }
    @media only screen and (max-width: 900px) {
      .description__p {
        width: 50%; } }
    @media only screen and (max-width: 650px) {
      .description__p {
        width: 60%; } }
  .description__p-bold {
    font-size: 7vh;
    font-weight: 1000;
    width: 38%;
    margin-left: 35vw;
    margin-bottom: 5.5vh;
    line-height: 9vh; }
    @media only screen and (max-width: 900px) {
      .description__p-bold {
        font-size: 6vh;
        width: 50%; } }
    @media only screen and (max-width: 650px) {
      .description__p-bold {
        font-size: 5vh;
        line-height: 8vh;
        width: 60%; } }

.skills {
  padding-bottom: 22vh; }
  .skills__text {
    font-size: 15vh;
    font-weight: 1000;
    width: 60%;
    line-height: 18vh;
    margin-left: 18rem; }
    @media only screen and (max-width: 900px) {
      .skills__text {
        font-size: 13vh;
        line-height: 16vh; } }
    @media only screen and (max-width: 650px) {
      .skills__text {
        font-size: 11vh;
        line-height: 13vh; } }

.boxes__row {
  display: flex;
  padding-bottom: 3.6vh;
  height: 58vh; }
  .boxes__row-box1 {
    background-color: #8ad8c0;
    width: 25%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 4.5vh 2.75vw;
    margin: 0 auto 0 8vw; }
  .boxes__row-box2 {
    background-color: #c6f459;
    width: 49%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 8vw 0 auto; }
  .boxes__row-box3 {
    background-color: #f39a8e;
    width: 36%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 auto 0 8.4vw; }
  .boxes__row-box4 {
    background-color: #85cbda;
    width: 38%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 8vw 0 auto; }
  .boxes__row-box5 {
    background-color: #9cb7eb;
    width: 43%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 auto 0 10vw; }
  .boxes__row-box6 {
    background-color: #b295ce;
    width: 29%;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 40px;
    padding: 3.6vh 1.8vw;
    margin: 0 10vw 0 auto; }

.cta {
  padding: 20vh 0 15vh 0; }
  .cta__p {
    font-size: 4vh;
    width: 47%;
    margin-left: 32vw;
    margin-bottom: 7vh;
    line-height: 6.6vh; }
  .cta__signature {
    font-size: 4vh;
    width: 47%;
    margin-left: 32vw;
    margin-bottom: 9vh;
    line-height: 6.8vh; }

.footer {
  padding: 1.8vh 5.6vw 5.6vh 3.6vw; }
  .footer__name {
    color: black;
    font-size: 2.75vh;
    margin: 0 auto 0 0; }
  .footer__list-item {
    margin-left: 2vw;
    text-decoration: none;
    color: black;
    font-size: 2.75vh; }
