.nav {
    padding: 3rem 6rem 0 0;

    &__item {
        text-decoration: none;
        padding-right: 4rem;
        color: black;
        font-size: 2.75vh;
    }
}


.main {
    padding-top: 10rem;
    padding-bottom: 16rem;
    &__big {
        margin-left: 20rem;
        line-height: 16vh;
        &-text {
            font-size: 15.2vh;
            font-weight: 1000;
            
        }

    }

    &__small {
        margin-left: 55rem;
        line-height: 9vh;
        padding-top: 4.25vh;
        &-text {
            font-size: 7vh;
            font-weight: 1000;
        }
    }
}

.photo {
    width: 100vw;

    &__img {
        margin: 0 auto;
        border-radius: 6%;
    }
}

.description {
    padding: 22vh 0 10vh 0;

    &__p {
        font-size: 4vh;
        width: 47%;
        margin-left: 35vw;
        margin-bottom: 10vh;
        line-height: 6.8vh;
        
    }

    &__p-bold {
        font-size: 7vh;
        font-weight: 1000;
        width: 38%;
        margin-left: 35vw;
        margin-bottom: 6vh;
        line-height: 9vh;
    }
}

.skills {
    padding-bottom: 25vh;
    &__text {
        font-size: 15.2vh;
        font-weight: 1000;
        width: 60%;
        line-height: 18vh;
        margin-left: 20rem;
    }
}

.boxes {

    &__row {
        display: flex;
        padding-bottom: 4vh;
        height: 60vh;
        

        &-box1{
            background-color: rgb(138, 216, 192);
            width: 25%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 5vh 3vw;

            margin: 0 auto 0 8vw;
            
        }
        &-box2{
            background-color: rgb(198, 244, 89);
            width: 49%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 4vh 2vw;

            margin: 0 10vw 0 auto;
        }
        &-box3{
            background-color: rgb(243, 154, 142);
            width: 36%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 4vh 2vw;

            margin: 0 auto 0 9vw;

        }
        &-box4{
            background-color: rgb(133, 203, 218);
            width: 38%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 4vh 2vw;

            margin: 0 8vw 0 auto;
        }
        &-box5{
            background-color: rgb(156, 183, 235);
            width: 43%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 4vh 2vw;

            margin: 0 auto 0 10vw;
        }
        &-box6{
            background-color: rgb(178, 149, 206);
            width: 29%;
            font-size: 5vh;
            font-weight: 1000;
            border-radius: 40px;
            padding: 4vh 2vw;

            margin: 0 10vw 0 auto;
        }
    }
}

.cta {
    padding: 22vh 0 16vh 0;

    &__p {
        font-size: 4vh;
        width: 47%;
        margin-left: 35vw;
        margin-bottom: 8vh;
        line-height: 6.8vh;
        
    }

    &__signature {
        font-size: 4vh;
        width: 47%;
        margin-left: 35vw;
        margin-bottom: 10vh;
        line-height: 6.8vh;
    }
}

.footer {
    padding: 2vh 6vw 6vh 4vw;
    &__name {
        color: black;
        font-size: 2.75vh;
        margin: 0 auto 0 0
    }

    &__list {
        &-item {
            margin-left: 2vw;
            text-decoration: none;
            color: black;
            font-size: 2.75vh;
        }
        
    }
}