.nav {
    padding: 3rem 6rem 0 0;

    &__item {
        text-decoration: none;
        padding-right: 4rem;
        
        color: black;
        font-size: 2rem;
    }
}


.main {
    padding-top: 10rem;
    padding-bottom: 16rem;
    &__big {
        margin-left: 20rem;
        line-height: 14rem;
        &-text {
            font-size: 12rem;
            font-weight: 1000;
        }

    }

    &__small {
        margin-left: 55rem;
        line-height: 7rem;
        &-text {
            font-size: 5rem;
            font-weight: 1000;
        }
    }
}