.nav {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
}

.photo {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
}